body {
    background-color:dimgrey;
    display: inline;
}

*{
    box-sizing: border-box;
    margin:1px;
}

.wrapper {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    background-color: #ccc;
}

.filament_edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

#left {
    flex: auto;
    min-width: 40%;
  }
  
#right {
    flex: auto;
    min-width: 40%;
}